<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Мой список машин</h1>
    <ion-input [(ngModel)] = "val1" label="Марка машины" 
    label-placement="floating" fill="outline" 
    placeholder="Ведите текст"></ion-input>
    <ion-input label="Когда была куплена" 
    label-placement="floating" fill="outline" 
    placeholder="Ведите текст"></ion-input>
    <ion-button (click) = "btn_click()" >Добавить</ion-button> 
    <ion-item>
      <ion-label>{{value}}</ion-label>
    </ion-item>
  <div>
    
  </div>

  </div>
</ion-content>
